USE [Evertec]
GO
/****** Object:  Table [dbo].[EstadosCivil]    Script Date: 3/20/2023 7:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosCivil](
	[Id_EstadoCivil] [int] IDENTITY(1,1) NOT NULL,
	[EstadoCivil] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadosCivil] PRIMARY KEY CLUSTERED 
(
	[Id_EstadoCivil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/20/2023 7:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[FotoUsuario] [image] NOT NULL,
	[EstadoCivil] [int] NOT NULL,
	[TieneHermanos] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EstadosCivil] ON 

INSERT [dbo].[EstadosCivil] ([Id_EstadoCivil], [EstadoCivil]) VALUES (1, N'Soltero')
INSERT [dbo].[EstadosCivil] ([Id_EstadoCivil], [EstadoCivil]) VALUES (2, N'Casado')
SET IDENTITY_INSERT [dbo].[EstadosCivil] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [IX_EstadosCivil]    Script Date: 3/20/2023 7:35:01 PM ******/
ALTER TABLE [dbo].[EstadosCivil] ADD  CONSTRAINT [IX_EstadosCivil] UNIQUE NONCLUSTERED 
(
	[Id_EstadoCivil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_EstadosCivil] FOREIGN KEY([EstadoCivil])
REFERENCES [dbo].[EstadosCivil] ([Id_EstadoCivil])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_EstadosCivil]
GO
/****** Object:  StoredProcedure [dbo].[CreateUsuarios]    Script Date: 3/20/2023 7:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateUsuarios]
(
 @Id int,
 @Nombre varchar(50),
 @Apellido varchar(50),
 @FechaNacimiento datetime,
 @FotoUsuario image,
 @EstadoCivil int,
 @TieneHermanos bit
)
AS
BEGIN

  
INSERT INTO [dbo].[Usuario]
           ([Nombre]
           ,[Apellido]
           ,[FechaNacimiento]
           ,[FotoUsuario]
           ,[EstadoCivil]
           ,[TieneHermanos])
     VALUES
           (@Nombre
			,@Apellido
			,@FechaNacimiento
            ,@FotoUsuario        
            ,@EstadoCivil  
            ,@TieneHermanos) 
     

END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUsuarios]    Script Date: 3/20/2023 7:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUsuarios]
(
 @id int
)
AS
BEGIN

	DELETE  FROM [Evertec].[dbo].[Usuario] WHERE Id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 3/20/2023 7:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarUsuarios]
AS
BEGIN

	SELECT  [Id]
      ,[Nombre]
      ,[Apellido]
      ,[FechaNacimiento]
      ,[FotoUsuario]
      ,[EstadoCivil]
      ,[TieneHermanos]
  FROM [Evertec].[dbo].[Usuario]
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuariosById]    Script Date: 3/20/2023 7:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarUsuariosById]
(
 @id int
)
AS
BEGIN

	SELECT  [Id]
      ,[Nombre]
      ,[Apellido]
      ,[FechaNacimiento]
      ,[FotoUsuario]
      ,[EstadoCivil]
      ,[TieneHermanos]
  FROM [Evertec].[dbo].[Usuario] WHERE Id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUsuarios]    Script Date: 3/20/2023 7:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateUsuarios]
(
 @Id int,
 @Nombre varchar(50),
 @Apellido varchar(50),
 @FechaNacimiento datetime,
 @FotoUsuario image,
 @EstadoCivil int,
 @TieneHermanos bit
)
AS
BEGIN

  UPDATE [dbo].[Usuario]
   SET [Nombre] = @Nombre
      ,[Apellido] = @Apellido
      ,[FechaNacimiento] = @FechaNacimiento
      ,[FotoUsuario] = @FotoUsuario
      ,[EstadoCivil] = @EstadoCivil
      ,[TieneHermanos] = @TieneHermanos
 WHERE Id = @Id

END
GO
